<section class="bg-[#f5f7fa]">
  <div class="container">
      <div
      class="flex flex-col lg:flex-row items-center gap-5 pt-6 py-10"
    >
      <div class="lg:w-auto w-full">
        <app-card-input title="Vendo online"></app-card-input>
      </div>

      <div class="lg:w-auto w-full">
        <app-card-input title="Vendo em loja física"></app-card-input>
      </div>

      <div class="lg:w-auto w-full">
        <app-card-input title="Delivery"></app-card-input>
      </div>
    </div>
  </div>
</section>
