<section
  class="w-full flex justify-center items-center bg-[#ec0000] h-[320px] lg:h-[418px]"
>
  <div
    class="container w-full h-full flex flex-col justify-between lg:flex-row"
  >
    <div class="w-full h-full lg:w-[45%]  flex flex-col justify-between">
      <div class="hidden lg:block"></div>

      <div class="mt-8 lg:mt-0">
        <p class="text-white text-4xl  font-medium">
          As melhores soluções financeiras para ajudar seu negócio crescer
        </p>
        <p class="text-white text-xl mt-2">
          Conheça, escolha e adicione os produtos na sua plataforma de vendas:
        </p>
      </div>

      <ul
        class="hidden lg:flex items-center justify-between mb-4 text-white font-medium"
      >
        <li class="hover:scale-105 transition-transform">
          <a href="#maquininha">MAQUININHAS</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#link_pagamento">LINK DE PAGAMENTO</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#aplicativo">APLICATIVO</a>
        </li>
      </ul>
    </div>

    <div class="hidden lg:w-[45%] lg:block">
      <img
        class="rounded-full"
        src="hero-image.png"
        alt="mulher sorrindo"
      />
    </div>
  </div>
</section>
