<div class="w-full flex justify-center items-center bg-[#f5f7fa]">
  <div class="container lg:px-8">
    <div class="w-full text-left">
      <h2
        class="pt-7 mb-3 text-xl lg:text-4xl font-medium text-[#EC0000] text-left"
      >
        Ofertas especiais
      </h2>
    </div>

    <swiper-container navigation="true" effect="fade">
      <swiper-slide>
        <app-product-offer
          image="getclassica.png"
          invoiceOver="R$ 2.000"
          title="Get Clássica | Receba já"
          rent="R$ 79,90 / mês"
          description="Máquina versátil, ótima para loja física e delivery "
          specialCondition="Garanta desconto no aluguel faturando a partir de R$ 2.000/mês e optando pelo plano 'Todas as parcelas em 2 dias'. Nessa oferta ganhe Getpay (link de pagamento para você vender mais através das redes sociais e WhatsApp)"
          getpay="Plano inicial: R$ 1,00 por Link pago"
        ></app-product-offer>
      </swiper-slide>
      <swiper-slide>
        <app-product-offer
          image="getmini.png"
          invoiceOver="R$ 2.000"
          title="GET MINI"
          rent="R$ 29,90 / mês"
          description="Máquina versátil, ótima para loja física e delivery "
          specialCondition="Garanta aluguel ZERO faturando R$1.499/mês e optando pelo plano 'Todas as parcelas em 2 dias'. Nessa oferta ganhe Getpay (link de pagamento para você vender mais através das redes sociais e WhatsApp)"
          getpay="Plano inicial: R$ 1,00 por Link pago"
        ></app-product-offer>
      </swiper-slide>
      <swiper-slide>
        <app-product-offer
          image="getsmart.png"
          invoiceOver="R$ 2.000"
          title=" Get Smart para App Eye Essencial "
          rent="R$ 129,90 / mês"
          description="Máquina versátil, ótima para loja física e delivery "
          specialCondition="Get Smart por R$129,90. A licença da Eye é de R$20,00 e será cobrada via Getstore somente após o aceite da licença diretamente na Get Smart."
          getpay="Plano inicial: R$ 1,00 por Link pago"
        ></app-product-offer>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
